@using PluginsMVC3Sample.Helper
@model PluginsMVC3Sample.Models.Trustpilot.FeedModel
<div class="tp-box" id="tp-iframe-widget">
    <header>
        <h1>@Model.TrustScore.Human</h1>
        <img src="@Model.TrustScore.StarsImageUrls["large"]" alt="stars"/>
        <p class="review-count">@Model.ReviewCount.Total customers has written a review on Trustpilot</p>
    </header>
    <h2>Latest reviews</h2>
    <section class="reviews">
        @foreach (var review in Model.Reviews.Take(3))
		{
			<article>
				<img src="@review.TrustScore.StarsImageUrls["small"]" alt="review stars"/>
				<time datetime="@review.Created"></time>
				<h3>@review.Title</h3>
				<p class="desc">@Html.Shorten(review.Content, 150)</p>
				<img src="@review.User.ImageUrls["i24"]" alt="@Html.Raw(review.User.Name)" class="user-img" />
				<p class="author">
					@Html.Raw(review.User.Name),
					@if (!string.IsNullOrEmpty(review.User.City))
					{
						<br />
						@Html.Raw(review.User.City)
					}
				</p>
				<div class="clear"></div>
			</article>
		}
    </section>
    <a class="footer" href="@Model.ReviewPageUrl" target="_blank">
        <span class="logo"></span>
		<span class="trust">Trust</span>
		<span class="pilot">pilot</span>
    </a>
</div>
